:root {
    --text-small: 0.85rem;
    --text-tiny: 0.70rem;
}

.text-small {
    font-size: var(--text-small);
}

.text-tiny {
    font-size: var(--text-tiny);
}

.nav-item {
    font-size: 0.80rem;
}

p {
    margin-bottom: 0.25rem;
}

.button-small {
    font-size: var(--text-small);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.section-title {
    margin-right: auto;
    margin-bottom: 0rem;
    align-self: end;
}

.help-icon {
    height: 0.8125rem;
    width: 0.8125rem;
    opacity: 0.7;
    vertical-align: top;
}

.help-icon:hover {
    opacity: 1;
}

@media (max-width: 576px) {
    html {
        font-size: 14px;
    }

    .text-tiny {
        font-size: var(--text-small);
    }

    .nav-link {
        padding: 0.35rem;
    }

    .section-title {
        font-size: 1.25rem;
        align-self: end;
        padding-bottom: 0.25rem;
    }
}